img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 20px;
}

.about-me-text {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    display: flex;
    justify-content: center;
}

#hobbies {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hobbies ul {

    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;

}

#hobbies ul li {
    margin: 10px;
    padding: 6px 12px;
    white-space: nowrap;   /* prevents text breaking weirdly */
}